
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgb(202, 255, 255);
    text-align: center; /* Center align all text in body */
}

h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

#image {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Create columns that are at least 250px wide */
    grid-template-rows: repeat(2, auto); /* Create 2 rows */
    grid-gap: 20px; /* Space between grid items */
    padding: 0;
    list-style-type: none; /* Remove bullets from the list */
    margin: 0 auto; /* Center the ul */
    max-width: 1000px; /* Limit max width of the container */
}

#image li {
    display: flex;
    justify-content: center; /* Centers the images in their respective grid cells */
    align-items: center;
}

#image img {
    width: 250px;
    height: 150px;
    object-fit: cover; /* Ensure the image fits within the specified dimensions while maintaining its aspect ratio */
    border-radius: 10px; /* Optional: add some border radius to the images */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
}

#amazon {
    text-align: center;
    padding: 10px;
    background-color: #5ddbef;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    width: 200px; /* Set a fixed width for the link */
    margin: 20px auto; /* Center the link horizontally */
    color: rgb(13, 248, 248);
}